* {
    padding: 0;
    margin: 0;
}

body{
    background-color: grey;
}


header{
display: flex;
color: lightgreen;
background-color: black;
border-style: solid;
justify-content: center;
font-size: 30px;
}

.question-container{
    margin-top: 50px;
    position: relative;
}

.questcard{

    display: flex;
    flex-direction: column;
    text-align: center;
    border-style: solid;
    background-color: black;
    color: lightgreen;
    margin: 15px;
    height: 400px;
    gap: 50px;
    padding: 10px;
}


.answer{
    background-color: gray;
    color: lightgreen;
    display: flex;
    justify-content: center;
    align-self: center;
    height: 40px;
    width: 300px;
    padding: 5px;
}

.tags{
    display: flex;
    justify-content: space-evenly;

}

.bookm {
    position: absolute;
    top: -5px;
    left: 0;
}

.bbtn{
    width: 50px;
    background-color: lightgreen;
    border-style: solid;
    border-color: white;
}

.bbm-bounce {
    animation: bounce 2s;
    animation-iteration-count: infinite;
}

@keyframes bounce{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}


footer{
    background-color: black;
    border-style: solid;
    border-color: lightgreen;
    position: fixed;
    padding: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    }


.home, .bookmark, .addquestion, .profile{
    width: 45px;
}

#homebtn, #bookbtn, #questbtn, #profbtn{
    border-radius: 1px;
}

.page{
display: none;
}

.page.current{
    display: block;
}